.header-title {
  font-weight: 500;
  background-color: #007953;
  color: white;
  border-radius: 5px;
  padding: 4px;
}

h2 {
  font-weight: 500;
}

button {
  background-color: #007953;
  color: white;
}

.w100 {
  width: 100%;
}
