<app-filtros></app-filtros>
<div class="bootstrap-wrapper">
    <div class="container-fluid mb20">
        <div class="row">
            <div class="col-md-9 mt20">
                <div class="mat-elevation-z3" style="border-radius: 5px;">
                    <h3 class="header-title text-center">Operaciones</h3>
                </div>
            </div>

            <div class="col-md-3 mt20">
                <div class="mat-elevation-z3" style="border-radius: 5px;">
                    <h3 class="header-title text-center">Información</h3>

                    <div class="row text-center mb10 p7">
                        <div class="col-lg-6 col-md-12 col-6 mt10 ">
                            <button mat-raised-button class="w100"
                                (click)="openVentas('500ms', '500ms')">Ventas</button>
                        </div>
                        <div class="col-lg-6 col-md-12 col-6 mt10 ">
                            <button mat-raised-button class="w100"
                                (click)="openCompras('500ms', '500ms')">Compras</button>
                        </div>
                    </div>

                    <div class="row p10">
                        <div class="col-md-12">
                            <h3 class="header-title text-center">Tasa Oficial BCV</h3>
                            <div class="mat-elevation-z1">
                                <p class="p7 m0">Moneda:</p>
                                <p class="p7 m0">Compra:</p>
                                <p class="p7 m0">Venta:</p>
                            </div>
                        </div>
                    </div>

                    <div class="row p10">
                        <div class="col-md-12">
                            <h3 class="header-title text-center">Nº Operaciones</h3>
                            <div class="mat-elevation-z1">
                                <p class="p7 m0">Codigo Producto: </p>
                                <p class="p7 m0">Concepto:</p>
                            </div>
                        </div>
                    </div>

                    <div class="row p10">
                        <div class="col-md-12">
                            <h3 class="header-title text-center">Mecanismos de Negocios</h3>
                            <div class="mat-elevation-z1">
                                <p class="p7 m0">Título: </p>
                            </div>
                        </div>
                    </div>

                    <div class="row p10">
                        <div class="col-md-12">
                            <h3 class="header-title text-center">Posición Mesa de Cambio</h3>
                            <div class="mat-elevation-z1">
                                <p class="p7 m0">Compras: </p>
                                <p class="p7 m0">Ventas:</p>
                            </div>
                        </div>
                    </div>

                    <div class="row p10">
                        <div class="col-md-12">
                            <h3 class="header-title text-center">Tiempo del Sistema</h3>
                            <div class="mat-elevation-z1">
                                <p class="p7 m0">Abierto: </p>
                                <p class="p7 m0">Cierre:</p>
                            </div>
                        </div>
                    </div>

                    <div class="row p10">
                        <div class="col-md-12">
                            <h3 class="header-title text-center">Intervención Cambiaria</h3>
                            <div class="mat-elevation-z1">
                                <p class="p7 m0">Subasta Activa: </p>
                                <p class="p7 m0">Monto Ofertado:</p>
                                <p class="p7 m0">Posición Disponible:</p>
                                <p class="p7 m0">Posición Liquidada:</p>
                            </div>
                        </div>
                    </div>

                    <br>
                </div>
            </div>
        </div>
    </div>
</div>