<div class="bootstrap-wrapper">
    <h2 class="header-title text-center">Parámetros</h2>

    <form (ngSubmit)="formSubmit()">
        <h3 style="margin: 5px;">Monto a Negociar</h3>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Compra</mat-label>
                    <input [(ngModel)]="parametroData.compra" required type="text" name="compra" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Venta</mat-label>
                    <input [(ngModel)]="parametroData.venta" required type="text" name="venta" matInput>
                </mat-form-field>
            </div>
        </div>

        <h3 style="margin: 5px; margin-top: -15px;">Tasas</h3>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Compra</mat-label>
                    <input [(ngModel)]="parametroData.compraT" required type="text" name="compraT" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Venta</mat-label>
                    <input [(ngModel)]="parametroData.ventaT" required type="text" name="ventaT" matInput>
                </mat-form-field>
            </div>
        </div>

        <h3 style="margin: 5px; margin-top: -15px;">Límites</h3>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Mínimo de Compra</mat-label>
                    <input [(ngModel)]="parametroData.minCompra" required type="text" name="minCompra" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Máximo de Compra</mat-label>
                    <input [(ngModel)]="parametroData.maxCompra" required type="text" name="maxCompra" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row" style="margin-top: -7px;">
            <div class="col-md-6">
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Mínimo de Venta</mat-label>
                    <input [(ngModel)]="parametroData.minVenta" required type="text" name="minVenta" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w100" appearance="fill">
                    <mat-label>Máximo de Venta</mat-label>
                    <input [(ngModel)]="parametroData.maxVenta" required type="text" name="maxVenta" matInput>
                </mat-form-field>
            </div>
        </div>


        <h3 style="margin: 5px; margin-top: -15px;">Cierre</h3>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label>Selecciona una fecha</mat-label>
                    <input matInput type="datetime-local" [(ngModel)]="parametroData.cierre" name="cierre">

                </mat-form-field>
            </div>
        </div>

        <app-spinner-load *ngIf="carga"></app-spinner-load>

        <div class="container text-right">
            <button mat-raised-button style="margin-right: 10px;">Guardar</button>
            <button mat-raised-button mat-dialog-close>Cerrar</button>
        </div>
    </form>
</div>